<!DOCTYPE html>
{%load static%}
<html>
<head>
	 <meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
   		 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

   		 <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css"/>
  		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css"/>
  		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>

  <script src="https://kit.fontawesome.com/a574cc94fd.js" crossorigin="anonymous"></script>
  
  <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
	<title>Brands</title>
</head>
<body>
		<nav class="navbar navbar-expand-lg navbar-light bg-white p-3 shadow-sm fixed-top">
    <div class="container-fluid">
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse mt-2" id="navbarSupportedContent">
     <div class="container">
     	<div class="row mt-4 ">
     		<div class="col-md-3 d-flex ">
     		    <img src="{% static 'logo.webp' %}" width="50px;">
     		    <h3>Egypt Voucher</h3>
     		</div>
     		<div class="col-md-6">	
     			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
        		<li class="custom_menu ">
          		<a class=" active text-dark" aria-current="page" href="#">Home</a>
        		</li>
        		<li class="custom_menu">
          		<a class="text-dark" href="/Brands/">All Brands</a>
        		</li>
        		<li class="custom_menu">
          		<a class="text-dark" href="#">All Catoryeg</a>
        		</li>
            <li class="custom_menu">
              <a class="text-dark" href="#" data-bs-toggle="modal" data-bs-target="#searchModal"><i class="fa-solid fa-magnifying-glass"></i> Search</a>
            </li>
      			</ul></div>
     		<div class="col-md-3 text-center">
     			
        <a href="#" style="text-decoration: none;" >
        	<div class="d-flex justify-content-center ">
        		<img src="{% static 'indianflaglog.jpg' %}" width="35px" height="35px" class="shadow-sm">
        		<p class="m-1 text-dark">India</p>
        	</div>
        </a>
     		</div>
     	</div>
     </div>
     
      
    </div>
  </div>
</nav>
<div class="container mt-5">
  <div class="row">
    <div class="col-md-8 shadow">
      {%for i in offerobj%}
  <div class="row mt-5">
    <div class="col-md-3 mt-5">
      <img class="card-img-top" src="{{ i.offerImage.url }}" alt="Card image cap">
      <a href="" class="btn btn-warning mt-3">Visit {{i.offerTitle}}</a>
      <p class="bg-light mt-2" style="font-size: 14px;font-weight: 500;">Expires on {{i.endDate}}</p>
    </div>
    <div class="col-md-9 mt-5">
      <div>
        <p>{{i.description}}</p>
      </div>

      <div>
        <h5>Terms & Conditions</h5>
        <p>{{i.termCondition}}</p>
      </div>
    </div>
  </div>
  {%endfor%}
    </div>


    <div class="col-md-4 mt-5">
      <div class="row  mt-5">
        <h5>Our another category</h5>
        {%for i in catobj%}
      <div class="col-3">
         <div  class="bg-light p-3 my-2 rounded shadow"><img class="cat-icon" src="{{ i.categoryIcon.url }}" alt="Card image cap" style="width: 25px;">  {{i.categoryName}}</div>
      </div>
    {%endfor%}
      </div>
    </div>
  </div>
	
</div>

<footer>
  <div class="container">
    <div class="d-flex justify-content-center">
      <img src="{% static 'logo.webp' %}" width="50px;">
      <h3 class="text-white">Love Coupon</h3>
    </div>
    <hr style="color: white; height: 2px;">
    <div class="row">
      <div class="col-md-6 text-center">
       
        <ul>
          <li> <h6 class="text-center">Website Info</h6></li>
          <li><a href="">About Us</a></li>
          <li><a href="">All Brands</a></li>
          <li><a href="">All Category </a></li>
          <li><a href="">Submit a Coupon</a></li>
          <li><a href="">Contact Us</a></li>
          <li><a href="">Black Friday</a></li>
          <li><a href="">Cyber Monday</a></li>
        </ul>
      </div>
      <div class="col-md-6 text-center">
        
        <ul>
          <li> <h6 class="text-center">Legal Info</h6></li>
          <li><a href="">Legal Info</a></li>
          <li><a href="">Terms & Condition</a></li>
          <li><a href="">Disclaimer</a></li>
          <li><a href="">Cookie Policy</a></li>
          <li><a href="">View all sites</a></li>
          
        </ul>

      </div>
    </div>
     <hr style="color: white; height: 2px;">
    <div class="text-center text-white">
      <p>© 2023. Made in India with ❤️. Coupons.com is operated by Coupan group, a company registered in India.</p>
    </div>
    
  </div>
</footer>
</body>
</html>